.EnigmaSettings {
    display: grid;
    margin-top: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}
.SettingsCell {
    display: grid;
    margin: 5%;
}
.CellHeading {
    text-align: left;
    /* color: grey; */
    font-size: 1vw;
    white-space: nowrap;
}
.en_position {
    width: 80%;
}